/*FONT*/
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Hack-Regular.ttf') format('ttf');
}

/*BODY*/
body {
  color: var(--text);
  background: var(--bg);
  text-align: center;
  font-family: 'Hack', sans-serif;
  width: 150px;
  font-size: 13px;
}

/*LOGO*/
#logo {
  color: var(--logo);
  font-size: 17px;
  margin-top: 20px;
}

/*FORMS*/
.forms {
  color: var(--white);
  border: none;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 1);
  font-size: 13px;
  text-align-last: center;
  padding: .75em 1em .5em 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.forms:focus {
  outline: none;
}

.subHeadline {
  padding-bottom: 4px;
  margin-top: 15px;
}

/*SELECT*/
select {
  background: var(--grey-dark1) url(icons/arrow_down.png) no-repeat 99.5% center;
  width: 100%;
  height: 31px;
}

/*INPUT*/
input {
  background: var(--grey-dark1);
  margin-bottom: 5px;
  width: 127px;
  height: 17px;
}

input:focus {
  color: var(--grey-dark2);
  background: var(--white);
  border: 1px solid var(--grey-light2);
  height: 15px;
  width: 125px;
  cursor: text;
}

::placeholder {
  color: var(--white);
  opacity: 1;
}

/*LIST*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: var(--list-text);
  background: var(--list);
  font-size: 12px;
  padding: 3px 0 4px 3px;
  margin-bottom: 1px;
  width: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

li:hover {
  background: var(--red-light);
  cursor: pointer;
}

/*THEMES & COLORS*/
:root {
  --grey-dark1: #333333;
  --grey-dark2: #444444;
  --grey-dark3: #747474;
  --grey-dark4: #929292;
  --grey-light1: #dedede;
  --grey-light2: #f8f8f8;
  --white: white;
  --red-light: #ffa3a3;
}

.light {
  --text: var(--grey-dark2);
  --bg: var(--grey-light2);
  --logo: var(--grey-dark1);
  --list: var(--grey-light1);
  --list-text: var(--grey-dark3);
}

.dark {
  --text: var(--grey-dark4);
  --bg: var(--grey-dark2);
  --logo: var(--grey-light2);
  --list: var(--grey-dark3);
  --list-text: var(--white);
}