body {
  /*background-color: #f8f8f8;*/
  background-color: var(--bg);
  width: 150px;
  text-align: center;
  font-family: "Hack";
  color: var(--text);
}

.optionHeadline {
  /*color: #393939;*/
  padding-bottom: 4px;
  margin-top: 15px;
}

.optionSnippets {
  color: #747474;
  font-size: 10px;
  padding-bottom: 3px 0 4px 0;
  margin-bottom: 1px;
  width: 148px;
}

select {
  border: 1px solid black;
  padding: .75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 1);
  color: white;
  text-align-last: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
  background: #333 url(icons/arrow_down.png) no-repeat 99.5% center;
}

button {
  border: 1px solid black;
  padding: .75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
  background-color: #333;
}

option {
  background: #222;
  border-top: 1px solid #444;
  padding: .3em 1em .3em 1em;
}

input {
  border: 1px solid black;
  padding: .75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  background-color: #333;
  text-align: center;
  width: 127px;
  height: 17px;
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid #efefef;
  height: 15px;
  width: 125px;
  color: #4a4a4a;
  background-color: #ffffff;
}

::placeholder {
  color: white;
  opacity: 1;
}

.optionBody {
  width: 500px;
}

input:focus {
  cursor: text;
  outline: none;
}

button:focus {
  outline: none;
}

select:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder {
  color: transparent !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: #747474;
  font-size: 10px;
  padding-left: 3px;
  padding-bottom: 4px;
  background-color: #dedede;
  padding-top: 3px;
  margin-bottom: 1px;
  width: 148px;
}

li:hover {
  background-color: #ffa3a3;
  cursor: pointer;
}

#logo {
  color: var(--logo);
  font-size: 15px;
  margin-top: 20px;
}

/*Themes*/
:root {
  --white: white;
  --text-light-grey: #929292;
  --text-dark-grey: #393939;
  --bg-light-grey: #f8f8f8;
  --bg-dark-grey: #444444;
  --logo-dark-grey:#383838;
  --logo-light-grey: #f1f1f1;
}

.light {
  --text: var(--text-dark-grey);
  --bg: var(--bg-light-grey);
  --logo: var(--logo-dark-grey);
}

.dark {
  --text: var(--text-light-grey);
  --bg: var(--bg-dark-grey);
  --logo: var(--logo-light-grey);
}


#dark::before {
  background: #e61cc4;
}

#light::before {
  background: #1ae44d;
}