/*FONT*/
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Hack-Regular.ttf') format('ttf');
}

/*BODY*/
body {
  color: var(--text);
  background: var(--bg);
  font-family: 'Hack', sans-serif;
  font-size: 17px;
  text-align: center;
  overflow: hidden;
}

/*SNIPPETS*/
#snippetDisplay {
  padding-top: 23%;
}

/*THEMES & COLORS*/
:root {
  --grey-light1: #dedede;
  --grey-light2: #f8f8f8;
  --grey-dark: #555555;
}

.light {
  --text: var(--grey-light1);
  --bg: var(--grey-light2);
}

.dark {
  --text: var(--grey-light1);
  --bg: var(--grey-dark);
}