/*BODY*/
body {
  color: #dedede;
  background: #f8f8f8;
  font-family: "Hack";
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/*SNIPPETS*/
#snippetDisplay {
  padding-top: 23%;
}